* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Helvetica;
}


header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1em;
    width: 100%;
    background-color: #002f99;

}

header nav {
    max-width: 1200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin: 0 auto;
}


header nav ul {
    display: flex;
    align-items: center;
    list-style: none;
    gap: 1.1em;
}
header nav ul li .nav-link {    
    padding: 0.5em 0.8em;
}
header nav ul li .nav-link:hover {    
    background-color: #003bbf;
    border-radius: 2px;
}

header nav ul li a  img {    
    background: none;
}




header nav ul img{
    width: 40px;
    border-radius:50% ;
} 

header .logo img{
    width: 80px;
}

main {
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
 
}

a   {
    text-decoration: none;
    color: #FFF;
}



footer{
    width: 100%;
    padding: 1.2em;
    background-color: #002f99;
    position: absolute;
    bottom: 0;
}

form{
    width: 350px;
    display: flex;
    flex-direction: column;
    gap: 0.5em;
    margin-top: 1em;
}

form .form-control{
    display: flex ;
    flex-direction: column;
    gap: 0.4em;
}

form .form-control label{
    font-weight: bold;
}

form .form-control input {
    padding: 0.5em;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    top: 5em;
}

.message{
    margin: 0 auto;
    position: relative;
    top: 2em;
    text-align: center;
    max-width: 350px;
    font-weight: bold;
}

