h2 {
  margin-bottom: 0.5em;
}

.container {
  padding: 1.5em;
  border: solid 1px black;
  width: 250px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  background-color: #fff;
  z-index: 99999;
  top: 20px;
  border-radius: 5px;
  animation: message ease 0.5s;
}

@keyframes message {
  from{
    top: 0;
  }to{
    top: 20px
  }
}
