
form {
    display: flex;
    flex-direction: column;
    gap: 1.5em;
    width: 100%;
  }

  .form-control{
    display: flex;
    flex-direction: column;
  }
  textarea {
    min-height: 80px;
    padding: 0.8em;
    outline: none;
  }
  
  form .form-control label {
    display: block;
    margin-bottom: 0.4em;
    font-weight: 700;
    font-size: 25px;
    line-height: 30px;
  }
  
  form .form-control input {
    padding: 0.8em ;
    border: 1px solid #3e3e3e8d;
    outline: none;
    padding-left: 1em;
  }
  