<header>
    <nav>
        <a routerLink="/home"> <img class="logo" src="../../assets/logo-no-background.svg" alt="Litoral Noticias Logo"></a>
        <ul *ngIf="!isLogged()" class="default">
            <li>
                <a routerLink="/register">CADASTRAR</a>
            </li>
            <li>
                <button routerLink="/login"> Entrar </button>
            </li>
        </ul>

        <ul  class="writter-header"*ngIf="checkRole() && checkRole() == roles.ROLE_READER.toString()">
            <li (click)="logout()"> <a routerLink="/login">Sair</a></li>
            <li class="profile"> <img routerLink="/home" src="{{userData.profileImage}}"/></li>
        </ul>

        <ul class="writter-header"*ngIf="checkRole() && checkRole() == roles.ROLE_WRITTER.toString() && userData">
            <li><a routerLink="/escritor">Adicionar Noticias</a></li>
            <li><a routerLink="/escritor/minhas-noticias">Minhas Noticias</a></li>
            <li (click)="logout()"> <a routerLink="/login">Sair</a></li>
            <li class="profile"> <img routerLink="/home" src="{{userData.profileImage}}"/></li>
        </ul>
    </nav>

    <div class="bg-effect"></div>
</header>