<div class="container">
    <section>
        <img src="../../../../assets/register-image.png" alt="ilustração de uma praia"/>
    </section>

    <section>
            <h1>Registrar</h1>
        <form #registerForm="ngForm" (ngSubmit)="register(registerForm)">
            <div class="form-control">
                <label for="name">Nome:</label>
                <input ngModel type="text" name="name" id="name" placeholder="Digite seu nome" required>
            </div>
            <div class="form-control">
                <label for="email">E-mail:</label>
                <input  ngModel type="email" name="email" id="email" placeholder="Digite seu email" required>
            </div>
            <div class="form-control">
                <label for="password">Senha:</label>
                <input  ngModel type="password" name="password" id="password" placeholder="Digite sua senha" required>
            </div>
            <div class="form-control">
                <label for="confirmatePassword">Confirmação de senha:</label>
                <input ngModel type="password" name="confirmatePassword" id="confirmatePassword" placeholder="Confirme sua senha" required>
            </div>

            <div class="info">
                <p>Possue conta? <a routerLink="/login"> clique aqui</a></p>
                <button type="submit">Cadastrar</button>
            </div>
        </form>
    </section>
</div>