<div class="container">
    <section>
        <img src="../../../../assets/login_image.jpg" alt="ilustração de uma praia"/>
    </section>

    <section>
            <h1>Login</h1>
        <form>
            <div class="form-control">
                <label for="email">E-mail</label>
                <input [(ngModel)]="requestLogin.email" type="email" name="email" id="email" placeholder="Digite seu email" required>
            </div>
            <div class="form-control">
                <label for="password">Senha:</label>
                <input [(ngModel)]="requestLogin.password" type="password" name="password" id="password" placeholder="Digite sua senha" required>
            </div>

            <div class="info">
                <p>Não possue conta? <a href="/registrar"> clique aqui</a></p>
                <button type="button" (click)="doLogin()">Entrar</button>
            </div>
        </form>
    </section>
</div>